/test/*
/generated_dataset
/__pycache__
/doc2text/__pycache__
/generator/__pycache__
/metric/__pycache__
doc2text/weights/easyOCR/user_network/modules/__pycache__/
generator/__pycache__
doc2text/weights/model_saved
